

<!-- Toolbar -->
<meta charset="utf-8">
<title>TABLICA OGŁOSZEŃ</title>
<link rel="stylesheet" href="app.component.css">
<!--<div class="toolbar" role="banner">-->

<!--  <span>TABLICA OGŁOSZEŃ</span>-->
<!--    <div class="spacer"></div>-->

<!--</div>-->
<nav>
  <img src="https://www.linux.ime.usp.br/~suhalonso/codelab.png">
  <ul>
    <a href=# class="menu"><li>Strona główna</li></a>
    <a href=# class="menu"><li>Dodaj ogłoszenie</li></a>
    <a href=# class="menu"><li>Zaakceptowane ogłoszenia</li></a>
    <a href=# class="menu"><li>Wybrane ogłoszenia</li></a>
    <a href=# class="registrar"><li>Rejestracja</li></a>
    <a href=# class="login"><li>Logowanie</li></a>
  </ul>
</nav>

<section>
  <a href=#><div class="container">
    <img src="">
    <h2>Nauka CSS & HTML</h2>
    <span class="autor">Włodek Młodek</span><br/>
    <span class="preco">40 zł</span>
    <div class="tags">
      <span class="wishlist">Wishlist</span>
    </div>
  </div></a>

  <a href=#><div class="container">
    <img src="corsa.jpg">
    <h2>Opel Corsa</h2>
    <span class="autor">Joanna Młynek</span><br/>
    <span class="preco">10000 zł</span>
    <del>12000 zł</del>
    <div class="tags">
      <span class="wishlist">Wishlist</span>

    </div>
  </div></a>

  <a href=#><div class="container">
    <img src="src/rower.png">
    <h2>Rower </h2>
    <span class="autor">Jan Kowalski</span><br/>
    <span class="preco">900 zł</span>
    <del>1050,50zł</del>
    <div class="tags">
      <span class="wishlist">Wishlist</span>

    </div>
  </div></a>

  <a href=#><div class="container">
    <img src="">
    <h2>Praca w pizza hut</h2>
    <span class="autor">Pizza Hut</span><br/>
    <span class="preco">3000 zł</span>
    <div class="tags">
      <span class="wishlist">Wishlist</span>
    </div>
  </div></a>
</section>





