<!-- Toolbar -->
<!--<div class="toolbar" role="banner">-->

<!--  <span>TABLICA OGŁOSZEŃ</span>-->
<!--    <div class="spacer"></div>-->

<!--</div>-->
<!--<nav>-->
<!--  <img src="https://www.linux.ime.usp.br/~suhalonso/codelab.png">-->
<!--  <ul class="nav-list">-->


<!--    <li class="nav-item">Strona główna</li>-->
<!--    <li class="nav-item" (click)="openAddAdvertisement()">  Dodaj ogłoszenie</li>-->
<!--    <li class="nav-item">Zaakceptowane ogłoszenia</li>-->
<!--    <li class="nav-item" (click)="openWhishListAdvertisements()">Wybrane ogłoszenia</li>-->
<!--    <li class="nav-item">Wyloguj</li>-->



<!--  </ul>-->
<!--</nav>-->

<app-nav></app-nav>

<section>
<app-list-advertisements></app-list-advertisements>
<!--  <a href=#><div class="container">-->
<!--    <img class="image" src="../../assets/images/pobrane.png">-->
<!--    <h2>Nauka CSS & HTML</h2>-->
<!--    <span class="autor">Włodek Młodek</span><br/>-->
<!--    <span class="preco">40 zł</span>-->
<!--    <div class="tags">-->
<!--      <span class="wishlist">Wishlist</span>-->
<!--    </div>-->
<!--  </div></a>-->

<!--  <a href=#><div class="container">-->
<!--    <img class="image" src="../../assets/images/corsa.jpg">-->
<!--    <h2>Opel Corsa</h2>-->
<!--    <span class="autor">Joanna Młynek</span><br/>-->
<!--    <span class="preco">10000 zł</span>-->
<!--    <del>12000 zł</del>-->
<!--    <div class="tags">-->
<!--      <span class="wishlist">Wishlist</span>-->

<!--    </div>-->
<!--  </div></a>-->

<!--  <a href=#><div class="container">-->
<!--    <img class="image" src="../../assets/images/rower.jfif">-->
<!--    <h2>Rower </h2>-->
<!--    <span class="autor">Jan Kowalski</span><br/>-->
<!--    <span class="preco">900 zł</span>-->
<!--    <del>1050,50zł</del>-->
<!--    <div class="tags">-->
<!--      <span class="wishlist">Wishlist</span>-->

<!--    </div>-->
<!--  </div></a>-->

<!--  <a href=#><div class="container">-->
<!--    <img class="image" src="../../assets/images/pizzahut.jfif">-->
<!--    <h2>Praca w pizza hut</h2>-->
<!--    <span class="autor">Pizza Hut</span><br/>-->
<!--    <span class="preco">3000 zł</span>-->
<!--    <div class="tags">-->
<!--      <span class="wishlist">Wishlist</span>-->
<!--    </div>-->
<!--  </div></a>-->
</section>


