:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;

}
*{
  padding: 0;
  margin: 0;
}


nav{
  background-color: #333;
  width: 100%;
  height: 99px;
  border: solid 0px #4faddb;
  border-width: 0 0 5px 0;
  position: fixed;
}

.nav-list{
  list-style: none;

}
.nav-item{
  color:#4faddb;
  display: inline-block;
  padding: 40px 20px;
  cursor: pointer;

}

.login,
.registrar{
  list-style-type: none;
  display: inline-block;
  padding: 40px 20px;
  color: white;
  text-decoration: none;
}

.menu:hover{
  background-color: #4faddb;
  color: black;
}

nav img{
  float: left;
  width: 70px;
  vertical-align: center;
  margin: 10px 30px;
}

.registrar{
  float: right;
  border: 0px gray solid;
  background-color: #40e0d0;
  color: #000;
  font-weight: bold;
  margin: 25px 20px 25px 10px;
  padding: 15px 15px;
  border-radius: 30px;
}

.registrar:hover{
  background-color: #5bf5e5;
}

.login{
  float: right;
}

.login:hover{
  text-decoration: underline;
}

/* CONTENTS */

section{
  padding-top: 130px; /* Fix navbar overlapping content */
  text-align:center;
}

.container{
  border: 1px #808080 solid;
  border-radius: 5px;
  width: 250px;
  height: 330px;
  margin: 15px;

  text-align: left;
  text-decoration: none;
  color: black;

  display: inline-block;
  vertical-align: top;

  box-shadow: 0 20px 25px -5px rgb(0, 0, 0, 0.1),
  0 10px 10px -5px rgb(0, 0, 0, 0.04);
}

.container:hover{
  transform: scale(1.1)
}

div h2,
span{
  font-weight: normal;
  margin: 5px;
  line-height: 25px;
}

del,
.autor{
  color: #80808f;
  font-size: 15px;
}

.preco{
  font-size: 20px;
  line-height: 30px;
}

.tags > span{
  border: 1px black solid;
  border-radius: 5px;
  padding: 3px;
  font-size: 15px;
  line-height: 30px;
  white-space: nowrap;
}

.most-watched{
  background-color: #90ee90;
}

.beginner-friendly{
  background-color: #87cefa;
}

.wishlist{
  background-color: #ffa07a;
}

.bestseller{
  background-color: #ffffe0;
}
.image{
  width: 100%;
}

.section{
  min-height: calc(100vh - 80px - 55px);
}


